<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <title>NOT FOUND</title>
    </head>

    <body>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">OOF!</span>
                        <div class="mb-4 lead">Looks like you're not supposed to be here at all, are you? Please go back to the <a href="<%= process.env.FRONTEND_HOST %>">homepage</a>, I swear we'll act as if nothing happened</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>